body {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 360px;
}

.button {
    border: 1px solid #F44336;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.button1,
.button2 {
    color: #F44336;
}

.button3,
.button4 {
    color: #fff;
}

.button1:hover,
.button2:hover {
    color: #fff;
}

.button3:hover,
.button4:hover {
    color: #F44336;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #F44336;
    z-index: -1;
    transition: 0.8s;
}

.button1::before,
.button3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.button2::before,
.button4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.button3::before,
.button4::before {
    height: 180%;
}

.button1:hover::before,
.button2:hover::before {
    height: 180%;
}

.button3:hover::before,
.button4:hover::before {
    height: 0%;
}